@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --primary: #fe2c55;
  //Default Layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
  --black: #000;
  --text-color: #161823;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Karla', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

//Custom tippy tooltip
.tippy-box {
  background-color: rgba(84, 84, 84, 0.92);
}
.tippy-arrow {
  color: rgba(84, 84, 84, 0.92);
  top: -8px;
}
.tippy-content {
  padding: 8px 9px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}
